 #Lektion 9


# logical operators (and, or, not) = Dessa används för att besluta ifall två eller flera påståenden stämmer.

# I detta fall ska kommer koden handla om temperaturen utomhus.
# För att en viss text ska printas måste alltså det rätta villkoret(temperaturen) finnas till.
temperatur = int(input("Vilken temperatur är det utomhus i celsius?: "))


#               Exempel 1

# Genom att skriva "and" efter det första "if statement" går det att lägga till ett ytterligare "if statement" som även måste uppfyllas.
# Alltså Om temperaturen är mellan 0 och 30 grader kommer texten "printas".
# Temperatur = 23°C --> print("gå ut idag!")
if temperatur >= 0 and temperatur <=30:
    print()
    print("Det är en bra utomhus värme idag!")
    print()
    print("gå ut!")

#               Exempel 2

# Genom att istället använda "or" kommer koden behöva uppfylla en av dessa 2 villkoren.
# Om temperaturen är högre än 30°C eller lägre än 0°C kommer villkoren uppfyllas och den underliggande koden aktiveras.
# Man kan göra separata svar ifall någon av villkoren uppfylls eller ett enda.

#               Alternativ 1


elif temperatur < 0 or temperatur >30:
    print()
    print("Det är dåligt väder ute!")
    print()
    print("Stanna inomhus!")

#               Alternativ 2

elif temperatur < 0 or temperatur >30:
    if temperatur < 0:
        print()
        print("Det är dåligt väder ute!")
        print()
        print("Det är för kallt, ta på dig extra klädesplagg! ")
    if temperatur >30:
        print()
        print("Det är dåligt väder ute!")
        print()
        print("Det är för varmt, stanna inne!")

# Genom att använda "not" kommer den understående koden av til exempel ett "if statement" aktiveras ifall villkoren inte uppnås.
# I detta fall kommer alltså en viss text "printas" ifall villkoren inte uppnås.
skostorlek = int(input("Vad är din skostorlek?"))
if not(skostorlek > 44):
    print()
    print("Din skostorlek är över medelvärdet för vuxna män i nordeuropa!")
elif not(skostorlek < 44):
    print()
    print("Din skostorlek är över medelvärdet för vuxna män i nordeuropa!")
